<allow-intent href="adpws:*" />
<allow-navigation href="adpws:*" />
<preference name="AndroidLaunchMode" value="singleTask" />

<!-- Universal Links -->
<universal-links>
    <host name="10.104.107.121" />
    <host scheme="https" name="adpinnovation2-test.mendixcloud.com" />
    <host scheme="https" name="adpinnovation2-accp.mendixcloud.com" />
    <host scheme="https" name="adpinnovation2.mendixcloud.com" />
</universal-links>
